<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wjw.flkitexample">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 储存卡的读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 扫描二维码 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FLKit"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".pages.controls.activities.FlexLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".pages.tool.activities.FlexActivity"
            android:exported="false" />
        <activity
            android:name=".pages.tool.activities.RegexInputActivity"
            android:exported="false" />
        <activity
            android:name=".pages.controls.activities.table.TableErrorActivity"
            android:exported="false" />
        <activity
            android:name=".pages.controls.activities.table.TableEmptyActivity"
            android:exported="false" />
        <activity
            android:name=".pages.controls.activities.table.TableLoadingActivity"
            android:exported="false" />
        <activity
            android:name=".pages.controls.activities.table.TableNormalActivity"
            android:exported="false" />
        <activity
            android:name=".pages.tool.activities.redis.RedisProgressActivity"
            android:exported="false" />
        <activity
            android:name=".pages.tool.activities.redis.RedisStateActivity"
            android:exported="false" />
        <activity
            android:name=".pages.tool.activities.RedisActivity"
            android:exported="false" />
        <activity
            android:name=".pages.example.activities.ViewPagerActivity"
            android:exported="false" />
        <activity
            android:name=".pages.example.activities.BannerActivity"
            android:exported="false" />
        <activity
            android:name=".pages.tool.activities.UserDefaultActivity"
            android:exported="false" />
        <activity
            android:name=".pages.zxing.FLZXingActivity"
            android:exported="false" />
        <activity
            android:name=".pages.example.activities.QRCodeActivity"
            android:exported="false" />
        <activity
            android:name=".pages.example.activities.ImagePickerActivity"
            android:exported="false" />
        <activity
            android:name=".pages.example.activities.KeyboardActivity"
            android:exported="false" />
        <activity
            android:name=".pages.base.activities.ImageBrowserActivity"
            android:exported="false" />
        <activity
            android:name=".pages.controls.activities.CardViewsActivity"
            android:exported="false" />
        <activity
            android:name=".pages.tool.activities.StampActivity"
            android:exported="false" />
        <activity
            android:name=".pages.tool.activities.AnimationActivity"
            android:exported="false" />
        <activity
            android:name=".pages.base.activities.LoadingActivity"
            android:exported="false" />
        <activity
            android:name=".pages.base.activities.DialogActivity"
            android:exported="false" />
        <activity
            android:name=".pages.controls.activities.SmscodeActivity"
            android:exported="false" />
        <activity
            android:name=".pages.controls.activities.table.TableSectionActivity"
            android:exported="false" />
        <activity
            android:name=".pages.controls.activities.TableViewActivity"
            android:exported="false" />
        <activity
            android:name="com.donkingliang.imageselector.ImageSelectorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- 图片选择Activity -->
        <activity
            android:name="com.donkingliang.imageselector.PreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- 图片预览Activity -->
        <activity
            android:name="com.donkingliang.imageselector.ClipImageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- 图片剪切Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>